body {
    display: flex;
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    width: 10rem;
    height: 2rem;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    font-weight: 700;
    font-size: 1rem;
    transition-duration: 0.4s;
    background-color: #C64191;
    color: #FFFFFF;
    border-style: none;
}

button:hover {
    filter: brightness(90%);
    font-size: 1.2rem;
    cursor: pointer;
}

h1 {
    text-align: center;
    font-size: 5rem;
}

.container {
    max-width: 1040px;
    padding: 2rem;
    display: flex;
    flex-flow: column;
    flex: 1;
}

.scorebox {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    background-color: #FFFFFF;
    width: 40%;
    height: 8rem;
    font-size: 3rem;
    margin: 0;
    text-align: center;
}

.choice {
    width: 10rem;
    height: 4rem;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    font-weight: 700;
    font-size: 1rem;
    transition-duration: 0.4s;
    background-color: #00BFB2;
    border-style: none;
}

.pressed {
    transform: scale(1.1);
}

#reset-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
}

#player-score, #computer-score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    text-align: center;
    height: 100%;
    background-color: #F0F3BD;
    width: 8rem;
}

#arena {
    margin-bottom: 2rem;
    display: flex;
    flex: 1;
    flex-flow: column;
}

#score-board {
    display: flex;
    flex: 1;
    flex-flow: row;
    justify-content: space-evenly;
    vertical-align: middle;
}

#display {
    height: 20rem;
    background-color: #F0F3BD;
    padding: 2rem;
    margin: 2rem;
}

#display>p {
    font-size: 2rem;
    text-align: center;
}

#buttons {
    display: flex;
    flex: 1;
    flex-flow: row;
    justify-content: space-around;
}
